<!-- footer section starts  -->

<section class="footer">
    <div class="box-container">
        <!--
        <div class="box">
            <h3>locations</h3>
            <a href="#">korea</a>
        </div>
        -->
        <div class="box">
            <h3>quick links</h3>
            <a href="#home">home</a>
            <a href="#dishes">dishes</a>
            <a href="#about">about</a>
            <a href="#menu">menu</a>
            <!--
            <a href="#review">review</a>
            <a href="#order">order</a>
            -->
        </div>
        <div class="box">
            <h3>contact info</h3>
            <a href="#">061-904-1444</a>
            <a href="https://open.kakao.com/o/sokOcPSb">kakaotalk</a>
            <a href="https://www.instagram.com/earlbrownbrunch/">instagram</a>
            <a href="https://map.naver.com/v5/entry/place/1964414349?lng=127.4836962&lat=34.9496974&placePath=%2Fhome&entry=plt&searchType=place">address 전남 순천시 저전길 24 얼브라운</a>
        </div>
        <!--
        <div class="box">
            <h3>follow us</h3>
        </div>
        -->
    </div>

    <div class="credit"> copyright @ 2023 by <span> earlbrown updaun </span> </div>

</section>
<!-- footer section ends  -->