{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- search form -->

<form action="" id="search-form">
    <input type="search" placeholder="search here..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>

<!-- home section starts  -->

<section class="home" id="home">
    <div class="swiper-container home-slider">
        <div class="swiper-wrapper warpper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>베이컨 에그 베네딕트</h3>
                    <p>수제 레이어트 포테이토 위에 베이컨, 구운케일, 수란 그리고 얼브라운 홀랜다이즈 소스</p>
                    <!--
                    <a href="#" class="btn">order now</a>
                    -->
                </div>
                <div class="image">
                    <img src="{% static 'images/bacon-egg-benedict.jpg' %}" alt="">

                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>살몬 에그 베네딕트</h3>
                    <p>수제 레이어트 포테이토 위에 훈제연어, 시금치, 수란 그리고 얼브라운 홀랜다이즈 소스</p>
                    <!--
                    <a href="#" class="btn">order now</a>
                    -->
                </div>
                <div class="image">
                    <img src="{% static 'images/salmon-egg-benedict.jpg' %}" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>크리미 머쉬룸 파스타</h3>
                    <p>콘낄리에 리가테( 숏파스타 )를 사용한 양송이 크림파스타</p>
                    <!--
                    <a href="#" class="btn">order now</a>
                    -->
                </div>
                <div class="image">
                    <img src="{% static 'images/creamy-mushroom-pasta.jpg' %}" alt="">

                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>
</section>

<!-- home section ends  -->

<!-- dishes section ends  -->

<section class="dishes" id="dishes">
    <h3 class="sub-heading"> our dishes </h3>
    <h1 class="heading"> popular dishes </h1>

    <div class="box-container">
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="{% static 'images/bacon-egg-benedict.jpg' %}" alt="">

            <h3>베이컨 에그 베네딕트</h3>
            <!--
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            -->
            <span>15,000원</span>
            <!--
            <a href="#" class="btn">add to cart</a>
            -->
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="{% static 'images/salmon-egg-benedict.jpg' %}" alt="">

            <h3>살몬 에그 베네딕트</h3>
            <!--
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            -->
            <span>16,000원</span>
            <!--
            <a href="#" class="btn">add to cart</a>
            -->
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="{% static 'images/creamy-mushroom-pasta.jpg' %}" alt="">

            <h3>크리미 머쉬룸 파스타</h3>
            <!--
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            -->
            <span>15,500원</span>
            <!--
            <a href="#" class="btn">add to cart</a>
            -->
        </div>
    </div>
</section>

<!-- dishes section ends  -->


<!-- about section starts  -->

<section class="about" id="about">
    <h3 class="sub-heading"> about us </h3>
    <h1 class="heading"> why choose us? </h1>

    <div class="row">
        <div class="storeGallery">
            <img class="storeImage active" src="{% static 'images/about1.jpg' %}" alt="">
            <img class="storeImage" src="{% static 'images/about2.jpg' %}" alt="">
            <img class="storeImage" src="{% static 'images/about3.jpg' %}" alt="">
        </div>
        <div class="content">
            <h3>순천의 뉴질랜드식 브런치</h3>
            <p>뉴질랜드에서 6년 동안 다양한 조리 기술을 익히며 경험을 쌓았습니다.</p>
            <p>얼브라운만의 특별한 요리로 뉴질랜드의 풍미를 선사합니다.</p>
            <p><i class="fas fa-location-dot"></i> 주소 : 전라남도 순천시 저전길 24 얼브라운 <a href="https://map.naver.com/v5/entry/place/1964414349?lng=127.4836962&lat=34.9496974&placePath=%2Fhome&entry=plt&searchType=place">[지도 보기]</a></p>
            <p><i class="fas fa-clock"></i> 영업 시간 : 10:00 ~ 15:30</p>
            <p><i class="fas fa-hand"></i> 라스트 오더 : 14:30</p>
            <p><i class="fas fa-shop-lock"></i> 휴무일 : 매주 화요일</p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fas fa-kiwi-bird"></i>
                    <span>New Zealand Food</span>
                </div>
                <div class="icons">
                    <i class="fas fa-leaf"></i>
                    <span>fresh ingredients</span>
                </div>
                <div class="icons">
                    <i class="fas fa-utensils"></i>
                    <span>light brunch</span>
                </div>
            </div>
            <!--
            <a href="#" class="btn">learn more</a>
            <div id="map"></div>
            -->

        </div>
    </div>
</section>

<!-- about section ends  -->

<!-- menu section starts  -->

<section class="menu" id="menu">

    <h3 class="sub-heading"> our menu </h3>
    <h1 class="heading"> today's speciality </h1>

    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="{% static 'images/special_menu1.jpg' %}" alt="">

                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <!--
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                -->
                <h3>단호박 크림 뇨끼</h3>
                <p>겨울 시즌 메뉴 (한정판매)</p>
                <!--
                <a href="#" class="btn"> add to cart </a>
                -->
                <span class="price">21,000원</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/monthly_menu.jpg' %}" alt="">

                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <!--
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                -->
                <h3>그릴드 햄치즈토스트 & 토마토수프</h3>
                <p>12월 먼슬리메뉴</p>
                <!--
                <a href="#" class="btn"> add to cart </a>
                -->
                <span class="price">14,000원</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/menu1.jpg' %}" alt="">

                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <!--
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                -->
                <h3>잠봉 오일파스타</h3>
                <p>썬드라이드 토마토, 루꼴라, 그린올리브, 잠봉햄이 올라간 오일파스타</p>
                <!--
                <a href="#" class="btn"> add to cart </a>
                -->
                <span class="price">15,000원</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/menu2.jpg' %}" alt="">

                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <!--
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                -->
                <h3>샥슈카</h3>
                <p>토마토 스튜 안에 계란, 베이컨, 양송이가 들어있는 에그인헬</p>
                <!--
                <a href="#" class="btn"> add to cart </a>
                -->
                <span class="price">16,000원</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/menu3.jpg' %}" alt="">

                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <!--
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                -->
                <h3>체리페퍼 오일파스타</h3>
                <p>체리모양을 한 고추 안에 크림치즈가 가득들어있는 체리페퍼가 올라간 오일파스타</p>
                <!--
                <a href="#" class="btn"> add to cart </a>
                -->
                <span class="price">15,000원</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/menu4.jpg' %}" alt="">

                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <!--
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                -->
                <h3>쉬림프 로제파스타</h3>
                <p>3가지 치즈가 들어간 로제소스위에 통통한 새우가 올라간 로제 파스타</p>
                <!--
                <a href="#" class="btn"> add to cart </a>
                -->
                <span class="price">16,000원</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/menu5.jpg' %}" alt="">

                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <!--
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                -->
                <h3>살몬 오픈 샌드위치</h3>
                <p>아보카도 퓨레, 루꼴라, 프렌치소스, 훈제연어, 케이퍼, 적양파가 올라간 오픈샌드위치</p>
                <!--
                <a href="#" class="btn"> add to cart </a>
                -->
                <span class="price">15,500원</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/menu6.jpg' %}" alt="">

                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <!--
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                -->
                <h3>부라타치즈 샐러드</h3>
                <p>부라타 치즈와 발사믹 글레이즈, 토마토와 제철과일이 올라간 샐러드</p>
                <!--
                <a href="#" class="btn"> add to cart </a>
                -->
                <span class="price">15,000원</span>
            </div>
        </div>
    </div>

</section>

<!-- menu section ends  -->

<!-- review section starts  -->
<!--
<section class="review" id="review">

    <h3 class="sub-heading"> customer's review </h3>
    <h1 class="heading"> what they say </h1>


    <div class="swiper-container review-slider">
        <div class="swiper-wrapper">


            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src='images/user-1.jpg' alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                </p>
            </div>

            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src='images/user-1.jpg' alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                </p>
            </div>

            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src='images/user-1.jpg' alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                </p>
            </div>



        </div>
    </div>

</section>
-->

<!-- review section ends  -->

<!-- order section starts  -->
<!--
<section class="order" id="order">

    <h3 class="sub-heading"> order now </h3>
    <h1 class="heading"> free and fast </h1>

    <form action="">
        <div class="inputBox">
            <div class="input">
                <span>your name</span>
                <input type="text" placeholder="enter your name">
            </div>
            <div class="input">
                <span>your number</span>
                <input type="number" placeholder="enter your number">
            </div>
        </div>
        <div class="inputBox">
            <div class="input">
                <span>your order</span>
                <input type="text" placeholder="enter food name">
            </div>
            <div class="input">
                <span>additional food</span>
                <input type="text" placeholder="extra with food">
            </div>
        </div>
        <div class="inputBox">
            <div class="input">
                <span>how much</span>
                <input type="number" placeholder="how many orders">
            </div>
            <div class="input">
                <span>date and time</span>
                <input type="datetime-local">
            </div>
        </div>
        <div class="inputBox">
            <div class="input">
                <span>your address</span>
                <textarea name="" id="" cols="30" rows="10" placeholder="enter your address"></textarea>
            </div>
            <div class="input">
                <span>your message</span>
                <textarea name="" id="" cols="30" rows="10" placeholder="enter your address"></textarea>
            </div>
        </div>

        <input type="submit" value="order now" class="btn">
    </form>

</section>

-->
<!-- order section ends  -->




<!-- loader part  -->
<div class="loader-container">
    <img src="{% static 'images/loader.gif' %}" alt="">
</div>



<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link -->
<script src="{% static 'js/script.js' %}"></script>


{% endblock %}